#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_configure:
	autoconf
	dh_auto_configure -- --libdir=/lib

override_dh_clean:
	dh_clean
	rm -f configure
